<div class="navbar-inner">
	<div class="container-fluid">
		<ul class="nav">
			<li class="active">
				<a href="<%= root_path %>">Home</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Dropdown <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Action</a>
					</li>
					<li>
						<a href="#">Another action</a>
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
					<li class="divider"></li>
					<li class="nav-header">
						Nav header
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav pull-right">
			<li class="dropdown">
				<% if current_user %>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class="divider"></li>
					<li>
						<%= link_to t('text.session.destroy'), logout_path, :method => "delete" %>
					</li>
				</ul>
				<% else %>
				<a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t('text.session.create')%><strong class="caret"></strong></a>
				<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; max-width: 300px;">
					<%= render "layouts/login" %>
				</div>

				<% end %>
			</li>
		</ul>
	</div>
</div>

<% if current_user.present? %>
<div class="navbar-inner">
	<div class="container-fluid">
		<ul class="nav">
			<li class="single-link">
				<a href="<%= new_article_path %>"><%= t('text.articel.create') %></a>
			</li>
		</ul>
	</div>
</div>
<% end %>
